@model BugTracker.Models.TicketViewModel
<h2>Edit Ticket</h2>

<div>


    <form asp-action="ProcessTicketEdit" method="post">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="form-group">
            <label asp-for="TicketSummary" class="control-label"></label>
            <input asp-for="TicketSummary" class="form-control" />

        </div>
        <div class="form-group">
            <label asp-for="TicketDescription" class="control-label">Description</label>
            <textarea cols="20" rows="5" asp-for="TicketDescription" class="form-control"></textarea>

        </div>
        <div class="form-group">
            <label asp-for="Severity" class="control-label"></label>
            <select asp-for="Severity" class="form-control">
                @foreach (var severity in Enum.GetValues(typeof(TicketViewModel.TicketSeverity)))
                {
                    <option value="@severity">@severity</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Priority" class="control-label"></label>
            <select asp-for="Priority" class="form-control">
                @foreach (var priority in Enum.GetValues(typeof(TicketViewModel.TicketPriority)))
                {
                    <option value="@priority">@priority</option>
                }
            </select>
        </div>

        <br />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
    <br />
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-danger">Cancel</a>

    </div>
</div>